.menu {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

.menu h5 {
    font-size: 20px;
    margin-bottom: 20px;
}

.menu a {
    display: block;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

.breadcrumb {
    background-color: transparent;
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: ">>";
    padding: 0 5px;
    color: #6c757d;
}
.breadcrumb img {
    height: 20px;
    width: auto;
    margin-right: 5px;
}
.breadcrumb-item a {
    color: #6c757d;
    text-decoration: none;
}
.breadcrumb-item a:hover {
    color: #0056b3;
    text-decoration: underline;
}